
$width: 640px;
$height: 360px;
$cubeSize: 100px;

$hHeight: 100px;
$mHeight: $height - $hHeight;

$logo: url("../images/logo.svg");

$small-text: 8px;
$middle-text: 12px;
$big-text: 18px;

@mixin std() {
    position: relative;
    width: $width;
}

@mixin anchor() {
    font-weight: normal;
    font-size: $middle-text;
    text-decoration: none;
    color: black;
}

@mixin stdIMG($img) {
    background-image: url($img);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

@mixin hiddenPanel($l) {
    display: block;
    position: absolute;
    width: 100px;
    height: 50px;
    top: 19px;
    left: $l;
    background-color: #fee;
    opacity: 1;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    z-index: 1;
    text-align: center;
}

@mixin noSelected() {
    &::selection {
        background: transparent;
    }
}