
$width: 640px;
$height: 360px;
$cubeSize: 100px;

$hHeight: 100px;
$mHeight: $height - $hHeight;

$logo: url("../images/logo.svg");

$small-text: 8px;
$middle-text: 12px;
$big-text: 18px;

@mixin std() {
    position: relative;
    width: $width;
}

@mixin anchor() {
    font-weight: normal;
    font-size: $middle-text;
    text-decoration: none;
    color: black;
}

@mixin stdIMG($img) {
    background-image: url($img);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}