* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 0;
}

html body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

$h: 200px;
.first {
    height: $h;
    background-color: yellow;
}

.second {
    position: relative;
    height: $h;
    background-color: brown;
    text-align: center;
    line-height: $h;
}

.second-inner {
    position: relative;
    width: 50%;
    height: $h;
    background-color: lightgray;
}

.second-super-inner {
    position: relative;
    width: 50%;
    height: $h;
    background-color: red;
    
}

.last {
    height: $h;
    background-color: #03d;
}

span {
    font-size: 24px;
}

#s-in {
    position: absolute;
    top: 0;
    right: 0;
}